* { margin: 0; padding: 0; list-style: none}
a { text-decoration: none; color: #99C6DF}


html {
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#all {
	width:756px;
	margin:0 auto 10px;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }

p { line-height: 160%; margin-bottom: 1.2em }
ul { margin-bottom: 1.2em }
ul li { line-height: 160% }

/* @Header */
#header { 
	position: relative;
	height: 100px;
}

.vcard { padding-top: 30px; }
.vcard  h1 { font-size: 30px; font-style: italic}

/* @Menu */
#main-content {
	float: left;
	width: 100%;
	padding-bottom:15px
}
#content {
	width: 480px;
	padding: 10px;
	float: left;
	border: 1px solid #e1e1e1
}

#sidebar {
	float: right;
	width: 201px;
	padding: 10px;
	background-color: #e1e1e1
}


#footer {
	padding: 10px 0 30px; 
	clear: both;
	border-top: 1px solid #e1e1e1;
	text-align: right;
}

#font_size { text-align: right }
.hide{ display: none }